.ta-center{
	text-align: center;
}

.ta-left{
	text-align: left;
}


.pull-right{

}


// Displays
.d-block{
	display: block;
}


// Positioning
.p-rel{
	position: relative;
}

.top-20{
	margin-top: 20px;
 }



// Examples

.example-block{
	text-align: center;;
	border: 1px solid #dadada;
}
