/* Layout 
-------------------------- */
body{
	min-height: 100%;
	background: #385370;
	background: url(../img/cooking.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.login-bg{
	// background: url(../img/cooking.jpg);
	// background-repeat: no-repeat;
	// background-size: cover;
}

.l-topNav{
	background: #d3e3f2;
	padding: 10px;
	border-bottom: 2px solid #869cb3;
}

.l-primary-wrapper{
	width: 1100px;
	margin: 20px auto 0 auto;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
	background: #fff;
}

.l-sidebar{
	width: 250px;
	float: left;
	height: 700px;
	background: #a8b9ca;
}

.l-mainContent{
	background: #e6e9ed;
	float: left;
	width: 850px;
	height: 700px;
	padding: 5px;
}



.inner-content{
	padding: 20px 20px;
}

.col-40{ width: 40%; }
.col-50{ width: 50%; }
.col-60{ width: 60%; }
.col-70{ width: 70%; }
.col-80{ width: 80%; }

.center-block{
	margin: 0 auto;
}


/* Sidebar 
-------------------------- */

.profile__avatar-image{
	border-radius: 50%;
}

.profile-info{
	margin-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #dadada;
}

.sidebar-nav__list{
	margin-top: 30px;
}

.sidebar-nav__list-item{
	margin: 5px 0;
}

.sidebar-nav__list-item-link{
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	&:hover{
		background: #fff;
		color: #000;
	}		
}

.sidebar-nav__list-link--active{
	font-weight: bold;
}

