@import 'variables';

body{
	min-height: 100%;
	background: #385370;
	background: url(../img/cookbook.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.l-topNav{
	background: #fff;
}

.l-primary-wrapper{
	width: 1100px;
	margin: 20px auto 0 auto;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
	background: #fff;
}

.l-sidebar,
.l-mainContent{
	height: 650px;
}

.l-sidebar{
	width: 225px;
	float: left;
	background: $gray-dark;

	*{
		color: #d3d3d3;
	}
}

.l-mainContent{
	background: #f0eee5;
	overflow: scroll;
	float: left;
	padding-left: 10px;
	width: 875px;
	padding: 5px;
}

.row{
	overflow: hidden;
}

.l-block{
	float: left;
	padding: 10px;
	
}

.inner-content{
	padding: 20px 20px;
}

.col-1{ width: 8.3%; }
.col-2{ width: 16.6%; }
.col-3{ width: 25%; }
.col-4{ width: 33.3%; }
.col-5{ width: 41.6%; }
.col-6{ width: 50%; }
.col-7{ width: 58.3%; }
.col-8{ width: 66.6%; }
.col-9{ width: 75%; }
.col-10{ width: 83.3%; }
.col-11{ width: 91.6%; }
.col-12{ width: 100%; }


.center-block{
	margin: 0 auto;
}

