*{
	box-sizing: border-box;
}


/* Layout 
-------------------------- */

.topNav{
	border: red 1px solid;
}

.l-primary-wrapper{
	overflow: hidden;
	/* WTF ?? */
	width: 1104px;
	margin: 0 auto;
	height: 700px;
	border: black 2px solid;
}

.l-sidebar{
	border: green 1px solid;
	width: 300px;
	float: left;
	height: 700px;
}

.l-mainContent{
	border: blue 1px solid;
	float: left;
	width: 800px;
	height: 700px;
	padding: 5px;
}



/* Sidebar 
-------------------------- */

.profile__avatar-image{
	border-radius: 50%;
}
}
